<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for page in pages %}
  <url>
    <loc>{{ SITEURL }}/{{ page.url }}</loc>
    <lastmod>{{ page.modified|strftime('%Y-%m-%d') if page.modified else page.date|strftime('%Y-%m-%d') if page.date else '2026-05-19' }}</lastmod>
  </url>
{% endfor %}
{% for article in articles %}
  <url>
    <loc>{{ SITEURL }}/{{ article.url }}</loc>
    <lastmod>{{ article.modified|strftime('%Y-%m-%d') if article.modified else article.date|strftime('%Y-%m-%d') if article.date else '2026-05-19' }}</lastmod>
  </url>
{% endfor %}
</urlset>
